<footer class="container">
    <h2>Github Search</h2>
    <div class="row">
        <div class="col-md-4">
            <h4>Developed by:</h4>
            <p>Allan Ngetich Limo</p>
            <p>27-08-2021 to 29-08-2021</p>
        </div>
        <div class="col-md-4 mid">
            <h4>Contact</h4>
            <p><span>Email:</span> Allanlimo02@gmail.com</p>
            <p><span>Phone:</span> 0726-832-007</p>
            <p><span>Twitter:</span> allan__limo</p>
        </div>
        <div class="col-md-4">
            <h4>Developed for:</h4>
            <p>Moringa school</p>
            <p>Ngong Lane Plaza, Ngong road</p>
            <p>Nairobi, Kenya</p>

        </div>

    </div>
</footer>