<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <form #fInput="ngForm"  class="form-inline">
                            <input  name='username' type="search" id="gsearch" placeholder="input username" class="form-control form-control-sm mr-3 w-75" [(ngModel)]='newSearch.uname'>
                            <input type="submit" value="Search" class="btn btn-success">
                            <br>
                            Your username:{{newSearch.uname}}   
                    
                        </form>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>