<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="row">
        <!-- Form  -->
        <div class="col-md-6">
            <br>
            <form #fInput="ngForm"  class="form-inline">
                <input  name='uname' type="search" id="gsearch" placeholder="input username" class="form-control form-control-sm mr-3 w-75" [(ngModel)]='uname'><br>
                <input type="submit" value="Search" class="btn btn-success" (click)='getUsername()'>
                <br>
                
        
            </form>
        </div>
        <!--User credential output  -->
        <div class="col-md-6">
            <br>
            <div class="row">
                <div class="col-md-6 avatar">
                    <p>Avatar</p>
                </div>
                <div class="col-md-6">
                    <hr>
                    <p>Name: <span></span> </p>
                    <hr>
                    <p>Username: <span id="output"></span> </p>
                    <hr>
                    <p>Description:<span></span></p>
                    <hr>
                    <p>Date created: <span></span></p>
                    <hr>
            
                </div>
            </div>
        </div>
    </div>
    
</div>
<!--  -->
<div class="col">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                
            </div>

        </div>
    </div>
</div>